@import "reset.css";
@import "status-bar.css";
@import "welcome-header.css";

body {
  background-color: rgb(189, 218, 189);
}

.welcome-div {
  margin: 7% 5%;
}

#login-form {
  display: flex;
  flex-direction: column;
  width: 80%;
}
