.welcome-header {
  /* text-align: center; */
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}
.welcome-header__title {
  margin-bottom: 4%;
  font-size: 25px;
  font-weight: bold;
}
.welcome-header__text {
  width: 90%;
  opacity: 70%;
  margin-bottom: 10%;
}
.welcome-header__text a {
  color: green;
}
