.badge {
  background-color: tomato;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: white;
  top: -5px;
  left: 20px;
  font-size: 12px;
}
