.nav {
  background-color: rgb(240, 240, 240);
  position: fixed;
  bottom: 0;
  width: 100%;
}

.nav__list {
  display: flex;
  justify-content: space-around;
  padding: 10px 0px;
  border-top: var(--linegray);
}

.nav__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--linenav);
  position: relative;
}

.nav__notification {
  position: absolute;
}

.nav__ellipsis {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: tomato;
  position: absolute;
  top: 0px;
  left: 30px;
}

.nav__descript {
  margin-top: 5px;
  font-size: 12px;
}
