.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--lineblue);
  padding: var(--horizontal-space);
  text-align: center;
  color: white;
}

.screen-header__title {
  font-size: 22px;
}
.screen-header__title a {
  margin-right: 10px;
}

.screen-header__icons i {
  margin-left: 15px;
}
